/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');

body {
    margin: 0;
    font-family: sans-serif;
 }

 .IBM-font {
    font-family: 'IBM Plex Sans', sans-serif;
 }

 .La-Bell-font {
    font-family: 'La Belle Aurore',cursive;
 }

 @keyframes typing {
   from {
     width: 0;
   }
   to {
     width: 100%;
     visibility: visible;
   }
 }

 @keyframes pulse {
   0% {
     font-size: 90%;
   }
   50% {
     font-size: 110%;
   }
   100% {
     font-size: 100%;
   }
 }