<section class="home">
  <div class="inf">
    <h1 class="definition">
      <span>h</span>
      <span>i</span>
      <span>,</span>
      <br />
      <span>i</span>
      <span>’</span>
      <span>m </span>
      <span>
        <img class="img" src="assets\pic\m.png" alt="m" routerLink="/" />
      </span>
      <span>a</span>
      <span>h</span>
      <span>m</span>
      <span>o</span>
      <span>u</span>
      <span>d</span>
      <span>,</span>
      <br />
      <span>w</span>
      <span>e</span>
      <span>b </span>
      <span>d</span>
      <span>e</span>
      <span>v</span>
      <span>e</span>
      <span>l</span>
      <span>o</span>
      <span>p</span>
      <span>e</span>
      <span>r</span>
      <br />
    </h1>
    <p class="front-end-developer">Front End Developer</p>
    <button class="contact-me">Contact me!</button>
  </div>
</section>