.home {
  background-color: #1d1d1d;
  width: calc(100vw - 130px);
  height: 100%;
  color: white;
  // overflow: hidden;
  @media screen and (max-width: 1300px) {
    width: 100vw;
  }

  .inf {
    padding: 250px 0 0 80px;
    .definition {
      margin: 0;
      font-size: 5rem;
      line-height: 4.5rem;
      transition: 0.3s;
      div {
        //  animation excist in style.css
        overflow: hidden;
        // white-space: nowrap;
        visibility: hidden;
        float: left;
        &.space {
          margin-right: 30px;
          @media screen and (max-width: 900px) {
            margin-right: 20px;
          }
          @media screen and (max-width: 600px) {
            margin-right: 10px;
          }
        }
        &:nth-child(1) {
          &.typing-animation {
            animation: typing 1s 0.1s steps(200, end) 1, pulse .8s 0.7s ease-in-out alternate;
            animation-fill-mode: forwards;
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            animation: rubberBand 1s both 1;
          }
        }
        &:nth-child(2) {
          &.typing-animation {
            animation: typing 1s 0.2s steps(200, end) 1, pulse .8s 0.8s ease-in-out alternate;
            animation-fill-mode: forwards;
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            animation: rubberBand 1s both 1;
          }
        }
        &:nth-child(3) {
          &.typing-animation {
            animation: typing 1s 0.3s steps(200, end) 1, pulse .8s 0.9s ease-in-out alternate;
            animation-fill-mode: forwards;
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            animation: rubberBand 1s both 1;
          }
        }
        &:nth-child(4) {
          &.typing-animation {
            animation: typing 1s 0.4s steps(200, end) 1, pulse .8s 0.9s ease-in-out alternate;
            animation-fill-mode: forwards;
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            animation: rubberBand 1s both 1;
          }
        }
        &:nth-child(5) {
          &.typing-animation {
            animation: typing 1s 0.5s steps(200, end) 1, pulse .8s 1s ease-in-out alternate;
            animation-fill-mode: forwards;
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            animation: rubberBand 1s both 1;
          }
        }
        &:nth-child(6) {
          &.typing-animation {
            animation: typing 1s 0.6s steps(200, end) 1, pulse .8s 1.1s ease-in-out alternate;
            animation-fill-mode: forwards;
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            animation: rubberBand 1s both 1;
          }
        }
        &:nth-child(7) {
          &.typing-animation {
            animation: typing 1s 0.7s steps(200, end) 1, pulse .8s 1.2s ease-in-out alternate;
            animation-fill-mode: forwards;
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            animation: rubberBand 1s both 1;
          }
        }
        &:nth-child(8) {
          &.typing-animation {
            animation: typing 1s 0.8s steps(200, end) 1;
            animation-fill-mode: forwards;
            img {
              animation: flip 1s 0.8s ease-in-out;
            }
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            // animation: rubberBand 1s both 1;
          }
        }
        &:nth-child(9) {
          &.typing-animation {
            animation: typing 1s 0.9s steps(200, end) 1, pulse .8s 1.4s ease-in-out alternate;
            animation-fill-mode: forwards;
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            animation: rubberBand 1s both 1;
          }
        }
        &:nth-child(10) {
          &.typing-animation {
            animation: typing 1s 1s steps(200, end) 1, pulse .8s 1.5s ease-in-out alternate;
            animation-fill-mode: forwards;
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            animation: rubberBand 1s both 1;
          }
        }
        &:nth-child(11) {
          &.typing-animation {
            animation: typing 1s 1.1s steps(200, end) 1, pulse .8s 1.6s ease-in-out alternate;
            animation-fill-mode: forwards;
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            animation: rubberBand 1s both 1;
          }
        }
        &:nth-child(12) {
          &.typing-animation {
            animation: typing 1s 1.2s steps(200, end) 1, pulse .8s 1.7s ease-in-out alternate;
            animation-fill-mode: forwards;
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            animation: rubberBand 1s both 1;
          }
        }
        &:nth-child(13) {
          &.typing-animation {
            animation: typing 1s 1.3s steps(200, end) 1, pulse .8s 1.8s ease-in-out alternate;
            animation-fill-mode: forwards;
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            animation: rubberBand 1s both 1;
          }
        }
        &:nth-child(14) {
          &.typing-animation {
            animation: typing 1s 1.4s steps(200, end) 1, pulse .8s 1.9s ease-in-out alternate;
            animation-fill-mode: forwards;
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            animation: rubberBand 1s both 1;
          }
        }
        &:nth-child(15) {
          &.typing-animation {
            animation: typing 1s 1.5s steps(200, end) 1, pulse .8s 2s ease-in-out alternate;
            animation-fill-mode: forwards;
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            animation: rubberBand 1s both 1;
          }
        }
        &:nth-child(16) {
          &.typing-animation {
            animation: typing 1s 1.6s steps(200, end) 1, pulse .8s 2.1s ease-in-out alternate;
            animation-fill-mode: forwards;
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            animation: rubberBand 1s both 1;
          }
        }
        &:nth-child(17) {
          &.typing-animation {
            animation: typing 1s 1.7s steps(200, end) 1, pulse .8s 2.2s ease-in-out alternate;
            animation-fill-mode: forwards;
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            animation: rubberBand 1s both 1;
          }
        }
        &:nth-child(18) {
          &.typing-animation {
            animation: typing 1s 1.8s steps(200, end) 1, pulse .8s 2.3s ease-in-out alternate;
            animation-fill-mode: forwards;
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            animation: rubberBand 1s both 1;
          }
        }
        &:nth-child(19) {
          &.typing-animation {
            animation: typing 1s 1.9s steps(200, end) 1, pulse .8s 2.4s ease-in-out alternate;
            animation-fill-mode: forwards;
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            animation: rubberBand 1s both 1;
          }
        }
        &:nth-child(20) {
          &.typing-animation {
            animation: typing 1s 2s steps(200, end) 1, pulse .8s 2.5s ease-in-out alternate;
            animation-fill-mode: forwards;
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            animation: rubberBand 1s both 1;
          }
        }
        &:nth-child(21) {
          &.typing-animation {
            animation: typing 1s 2.1s steps(200, end) 1, pulse .8s 2.6s ease-in-out alternate;
            animation-fill-mode: forwards;
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            animation: rubberBand 1s both 1;
          }
        }
        &:nth-child(22) {
          &.typing-animation {
            animation: typing 1s 2.2s steps(200, end) 1, pulse .8s 2.7s ease-in-out alternate;
            animation-fill-mode: forwards;
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            animation: rubberBand 1s both 1;
          }
        }
        &:nth-child(23) {
          &.typing-animation {
            animation: typing 1s 2.3s steps(200, end) 1, pulse .8s 2.8s ease-in-out alternate;
            animation-fill-mode: forwards;
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            animation: rubberBand 1s both 1;
          }
        }
        &:nth-child(24) {
          &.typing-animation {
            animation: typing 1s 2.4s steps(200, end) 1, pulse .8s 2.9s ease-in-out alternate;
            animation-fill-mode: forwards;
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            animation: rubberBand 1s both 1;
          }
        }
        &:nth-child(25) {
          &.typing-animation {
            animation: typing 1s 2.5s steps(200, end) 1, pulse .8s 3s ease-in-out alternate;
            animation-fill-mode: forwards;
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            animation: rubberBand 1s both 1;
          }
        }
        &:nth-child(26) {
          &.typing-animation {
            animation: typing 1s 2.6s steps(200, end) 1, pulse .8s 3.1s ease-in-out alternate;
            animation-fill-mode: forwards;
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            animation: rubberBand 1s both 1;
          }
        }
        &:nth-child(27) {
          &.typing-animation {
            animation: typing 1s 2.7s steps(200, end) 1, pulse .8s 3.2s ease-in-out alternate;
            animation-fill-mode: forwards;
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            animation: rubberBand 1s both 1;
          }
        }
        &:nth-child(28) {
          &.typing-animation {
            animation: typing 1s 2.8s steps(200, end) 1, pulse .8s 3.3s ease-in-out alternate;
            animation-fill-mode: forwards;
          }
          &.rubberBand-animation:hover {
            color: #08fdd8;
            animation: rubberBand 1s both 1;
          }
        }
      }

      @media screen and (max-width: 900px) {
        font-size: 4rem;
      }
      @media screen and (max-width: 600px) {
        font-size: 2rem;
        line-height: 2.2rem;
      }
      .img {
        width: 55px;
        margin-right: 10px;
        transition: 0.3s;
        @media screen and (max-width: 900px) {
          width: 50px;
        }
        @media screen and (max-width: 600px) {
          width: 25px;
          margin-right: 5px;
        }
      }
      &:before {
        content: "<h1>";
        font-family: "La Belle Aurore", cursive;
        color: #515152;
        font-size: 1.2rem;
        position: absolute;
        margin-top: -3rem;
        // left: -1.5rem;
        left: 12rem;
        @media screen and (max-width: 1300px) {
          left: calc(12rem - 130px);
        }
      }
      &:after {
        content: "</h1>";
        font-family: "La Belle Aurore", cursive;
        color: #515152;
        font-size: 1.2rem;
        position: absolute;
        // left: -1.5rem;
        left: 12rem;
        @media screen and (max-width: 1300px) {
          left: calc(12rem - 130px);
        }
      }
    }

    .front-end-developer {
      margin-top: 4.5rem;
      font-size: 1.2rem;
      letter-spacing: 4px;
      display: block;
      color: #8d8d8d;
      animation: slideUpFront ease-in-out 0.5s forwards;
      visibility: hidden;
      animation-delay: 1s;
      @keyframes slideUpFront {
        0% {
          visibility: visible;
          margin-top: 5.5rem;
          opacity: 0;
        }
        100% {
          visibility: visible;
          margin-top: 4.5rem;
          opacity: 1;
        }
      }
      @media screen and (max-width: 900px) {
        letter-spacing: 0;
      }
      &:before {
        content: "<p>";
        font-family: "La Belle Aurore", cursive;
        color: #515152;
        font-size: 1.2rem;
        position: absolute;
        margin-top: -2rem;
        left: 12rem;
        letter-spacing: 0;
        @media screen and (max-width: 1300px) {
          left: calc(12rem - 130px);
        }
      }
      &:after {
        content: "</p>";
        font-family: "La Belle Aurore", cursive;
        color: #515152;
        font-size: 1.2rem;
        position: absolute;
        margin-top: 1rem;
        left: 12rem;
        letter-spacing: 0;
        @media screen and (max-width: 1300px) {
          left: calc(12rem - 130px);
        }
      }
    }

    .contact-me {
      margin-top: 2rem;
      background-color: #1d1d1d;
      color: white;
      border: 1px solid #08fdd8;
      height: 2.8rem;
      width: 13rem;
      font-size: 1rem;
      letter-spacing: 4px;
      cursor: pointer;
      --c: #08fdd8; /* the color */

      color: #0000;
      background: linear-gradient(90deg, #fff 50%, var(--c) 0)
          calc(100% - var(--_p, 0%)) / 200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) 100% no-repeat;
      -webkit-background-clip: text, padding-box;
      background-clip: text, padding-box;
      transition: 0.5s;
      animation: slideUpContactMe ease-in-out .5s forwards;
      visibility: hidden;
      animation-delay: 1.5s;
      @keyframes slideUpContactMe {
        0% {
          margin-top: 3rem;
          opacity: 0;
          visibility: visible;
        }
        100% {
          margin-top: 2rem;
          opacity: 1;
          visibility: visible;
        }
      }
      &:hover {
        --_p: 100%;
        color: #000;
      }
    }
  }
}

