<section class="home">
  <div class="inf">
    <h1 class="definition" id="definition">
      <div class="typing-animation">h</div>
      <div class="typing-animation">i</div>
      <div class="typing-animation">,</div>
      <br />
      <div class="typing-animation">i</div>
      <div class="typing-animation">’</div>
      <div class="space typing-animation">m</div>
      <div class="typing-animation">
        <img class="img" src="assets\pic\m.png" alt="m" routerLink="/" />
      </div>
      <div class="typing-animation">a</div>
      <div class="typing-animation">h</div>
      <div class="typing-animation">m</div>
      <div class="typing-animation">o</div>
      <div class="typing-animation">u</div>
      <div class="typing-animation">d</div>
      <div class="typing-animation">,</div>
      <br />
      <div class="typing-animation">w</div>
      <div class="typing-animation">e</div>
      <div class="space typing-animation">b</div>
      <div class="typing-animation">d</div>
      <div class="typing-animation">e</div>
      <div class="typing-animation">v</div>
      <div class="typing-animation">e</div>
      <div class="typing-animation">l</div>
      <div class="typing-animation">o</div>
      <div class="typing-animation">p</div>
      <div class="typing-animation">e</div>
      <div class="typing-animation">r</div>
      <br />
    </h1>
    <div class="circle gelatine"></div>
    <p class="front-end-developer">Front End Developer</p>
    <button class="contact-me">Contact me!</button>
  </div>
</section>